@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter:wght@300&family=Montserrat:wght@300;500&display=swap');

:root {
  --main-font: 'Montserrat';
}

body, input {
  box-sizing: 0;
  font-family: var(--main-font), Helvetica, sans-serif;
}

.w100 {
  width: 100%;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-form {
  display: flex;
  width: 80%;
}

.page-name {
  margin-left: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.header-input {
  padding: 12px 30px;
  border-width: 1px;
  border-right: none;
  border-radius: 10px 0 0 10px;
  background-color: #e8e6e6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;  border: none;
  font-family: (--main-font);
}

.header-button {
  background-color: #d3d3d3;
  border-width: 1px;
  border-left: none;
  border-radius: 0 10px 10px 0;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  border: none;
  border: none;
}

.page-header-back-button {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 20px;
  top: 45px;
}

.page-header-back-button:hover, .header-button:hover {
  cursor: pointer;
}